{% extends 'frontend_new/base.html' %}
{% load static %}
{#{% load staticfiles %}#}

{% block body %}
    <!-- <div class="js-fullheight"> -->
    <div class="hero-wrap js-fullheight">
        <div class="overlay"></div>
        <div id="particles-js"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center"
                 data-scrollax-parent="true">
                <div class="col-md-6 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                    <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span
                            class="mr-2"><a href="index.html">Home</a></span> <span>About</span></p>
                    <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">About Us</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-light">
        <section class="ftco-section-featured ftco-section-featured-2 ftco-animate">
            <div class="container-fluid" data-scrollax-parent="true">
                <div class="row mt-5 d-flex justify-content-center">
                    <div class="col-md-8 text-center heading-section ftco-animate">
                        <h2 class="h1">A place for people who find Elysium between the pages of a book. A place for
                            endless
                            discussions on books and
                            never-ending fandom talks. A place to connect with people who believe in the magic of words
                            woven to form a
                            beautiful creation. A place where the bibliophiles, the fanfiction bugs. the storytellers,
                            the
                            avid readers
                            come together to explore a world of books.
                            A place for one and all.</h2>
                        <p><a href="#" class="btn btn-primary mt-3 py-3 px-5">Get in touch</a></p>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="ftco-section">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-5">
                <div class="col-md-7 text-center heading-section ftco-animate">
                    <span class="subheading">Team</span>
                    <h2 class="mb-4">Our Team</h2>
                </div>
            </div>
            <div class="row">
                {% for contact in contacts %}
                    {% include 'frontend_new/contact_card_mixin.html' %}
                {% endfor %}
            </div>
        </div>
    </div>

    {#    <section class="ftco-section testimony-section bg-light">#}
    {#        <div class="container">#}
    {#            <div class="row justify-content-center mb-5 pb-5">#}
    {#                <div class="col-md-7 text-center heading-section ftco-animate">#}
    {#                    <span class="subheading">Customer Says</span>#}
    {#                    <h2 class="mb-4">Our satisfied customer says</h2>#}
    {#                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there#}
    {#                        live the blind texts. Separated they live in</p>#}
    {#                </div>#}
    {#            </div>#}
    {#            <div class="row ftco-animate">#}
    {#                <div class="col-md-12">#}
    {#                    <div class="carousel-testimony owl-carousel ftco-owl">#}
    {#                        <div class="item text-center">#}
    {#                            <div class="testimony-wrap p-4 pb-5">#}
    {#                                <div class="user-img mb-4" style="background-image: url(images/person_1.jpg)">#}
    {#                    <span class="quote d-flex align-items-center justify-content-center">#}
    {#                      <i class="icon-quote-left"></i>#}
    {#                    </span>#}
    {#                                </div>#}
    {#                                <div class="text">#}
    {#                                    <p class="mb-5">Far far away, behind the word mountains, far from the countries#}
    {#                                        Vokalia and Consonantia, there live the blind texts.</p>#}
    {#                                    <p class="name">Dennis Green</p>#}
    {#                                    <span class="position">Marketing Manager</span>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                        <div class="item text-center">#}
    {#                            <div class="testimony-wrap p-4 pb-5">#}
    {#                                <div class="user-img mb-4" style="background-image: url(images/person_2.jpg)">#}
    {#                    <span class="quote d-flex align-items-center justify-content-center">#}
    {#                      <i class="icon-quote-left"></i>#}
    {#                    </span>#}
    {#                                </div>#}
    {#                                <div class="text">#}
    {#                                    <p class="mb-5">Far far away, behind the word mountains, far from the countries#}
    {#                                        Vokalia and Consonantia, there live the blind texts.</p>#}
    {#                                    <p class="name">Dennis Green</p>#}
    {#                                    <span class="position">Interface Designer</span>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                        <div class="item text-center">#}
    {#                            <div class="testimony-wrap p-4 pb-5">#}
    {#                                <div class="user-img mb-4" style="background-image: url(images/person_3.jpg)">#}
    {#                    <span class="quote d-flex align-items-center justify-content-center">#}
    {#                      <i class="icon-quote-left"></i>#}
    {#                    </span>#}
    {#                                </div>#}
    {#                                <div class="text">#}
    {#                                    <p class="mb-5">Far far away, behind the word mountains, far from the countries#}
    {#                                        Vokalia and Consonantia, there live the blind texts.</p>#}
    {#                                    <p class="name">Dennis Green</p>#}
    {#                                    <span class="position">UI Designer</span>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                        <div class="item text-center">#}
    {#                            <div class="testimony-wrap p-4 pb-5">#}
    {#                                <div class="user-img mb-4" style="background-image: url(images/person_1.jpg)">#}
    {#                    <span class="quote d-flex align-items-center justify-content-center">#}
    {#                      <i class="icon-quote-left"></i>#}
    {#                    </span>#}
    {#                                </div>#}
    {#                                <div class="text">#}
    {#                                    <p class="mb-5">Far far away, behind the word mountains, far from the countries#}
    {#                                        Vokalia and Consonantia, there live the blind texts.</p>#}
    {#                                    <p class="name">Dennis Green</p>#}
    {#                                    <span class="position">Web Developer</span>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                        <div class="item text-center">#}
    {#                            <div class="testimony-wrap p-4 pb-5">#}
    {#                                <div class="user-img mb-4" style="background-image: url(images/person_1.jpg)">#}
    {#                    <span class="quote d-flex align-items-center justify-content-center">#}
    {#                      <i class="icon-quote-left"></i>#}
    {#                    </span>#}
    {#                                </div>#}
    {#                                <div class="text">#}
    {#                                    <p class="mb-5">Far far away, behind the word mountains, far from the countries#}
    {#                                        Vokalia and Consonantia, there live the blind texts.</p>#}
    {#                                    <p class="name">Dennis Green</p>#}
    {#                                    <span class="position">System Analytics</span>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </section>#}
{% endblock %}