<div class="col-md-4 mb-5 ftco-animate">
    <div class="block-10">
        <div class="person-info mb-2">
            <span class="name">{{ contact.name }}</span>
            <span class="position">{{ contact.position }}</span>
        </div>
        {% if contact.image %}
        <img src="{{ contact.image.url }}" alt="" class="img-fluid mb-3">
        {% endif %}
        <p>A small river named Duden flows by their place and supplies it with the necessary
            regelialia.</p>
    </div>
</div>