{% extends "main/base.html" %}
{% load socialaccount %}
{% block content %}
<br>
<div class="container-fluid">
    <h1 style="font-family: 'Anton', sans-serif;">Book List</h1>
    <br>
    <br>
</div>
<div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row">
        {% for book in books %}
        {# {% if candidate.constituency.name == userad.profile.constituency.name %}#}
        {% include 'main/book_card_mixin.html' %}
        {# {% endif %}#}
        {% endfor %}
    </div><!-- /.row -->
</div>
{% endblock %}